{% extends "base.html" %}
{% load static %}

{% block title %}Анфиса для друзей. Каталог мороженого{% endblock %}

{% block content %}
  <h1 class="pb-2 mb-0">Каталог мороженого</h1>

  <div class="row mt-3">
    {% for item in ice_cream_list %}
      <div class="col-12 col-md-4 my-2">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/logo.png' %}" alt="{{ item.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
              {% if item.description|length > 100 %}
                {{ item.description|slice:":100" }}...
              {% else %}
                {{ item.description }}
              {% endif %}
            </p>
            <a class="btn btn-primary" href="{% url 'ice_cream:detail' item.id %}">Подробнее --&gt;</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Каталог пуст.</p>
    {% endfor %}
  </div>
{% endblock %}
